/* Global */
body {

}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0,0,0,0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
}

/* Display none */
.submenu__list,
.search,
.login,
.cart {
    display: none;
}
